.conteiner-section-1 {
  /* background-color: #1e3266; */
  height: 110vh;
  margin-top: -100px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin-top: -100px;
}

.conteiner-section-1 .fondo-color {
  background-color: #1e3266;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: -130px;
}

.conteiner-section-1 .center {
  position: absolute;
  /* background-color: rgb(12, 83, 60); */
  /* height: 500px; */
  width: 100%;
  bottom: 200px;
  display: flex;
  opacity: 0;
  justify-content: center;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 2.5s;
}
.conteiner-section-1 .top {
  position: absolute;
  top: 100px;
  height: 500px;
  width: 100%;
}
.conteiner-section-1 .top {
  position: absolute;
  top: 100px;
  height: 50%;
  width: 100%;
}
.conteiner-section-1 .top div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
}
/* .conteiner-section-1 .top .moon {
  width: 250px;
  
  top: 0px;

  transform: scale(0);
  animation: animationMoon 3s ease-in-out forwards;
  animation-delay: 3s;
} */
.conteiner-section-1 .top .moon {
  width: 250px;
  /* position: absolute; */
  top: 0px;
  /* display: none; */
  transform: translateY(-500px);
  opacity: 0;
  animation: animationMoon 3s ease-in-out forwards;
  animation-delay: 3s;
}
/* .conteiner-section-1 .top .moon.pulse {
  transform: scale(0.9);
  animation: pulseMoon 5s ease-in-out infinite alternate;
} */
.conteiner-section-1 .top .globo1 {
  width: 300px;
  position: absolute;
  left: 100px;
  opacity: 0.8;
  transform: translateX(-400px);
  animation: animationG1 60s ease-in-out infinite alternate;
}
.conteiner-section-1 .top .globo2 {
  width: 150px;
  position: absolute;
  right: 150px;
  opacity: 0.8;
  top: 400px;
  transform: translateX(300px);
  animation: animationG2 60s ease-in-out infinite alternate;
  animation-delay: 10s;
}
.conteiner-section-1 .center div {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.conteiner-section-1 .center div h1 {
  font-size: 56px;
}

.conteiner-section-1 .center div h5 {
  font-size: 25px;
  font-weight: 400;
  margin-top: 15px;
}

.conteiner-section-1 .fondo-svg {
  margin-top: -130px;
  position: absolute;
  width: 100%;
  min-width: 1520px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animationG1 {
  from {
    transform: translateX(-400px) scale(0.9);
  }
  to {
    transform: translateX(200px) scale(1.1);
  }
}
@keyframes animationG2 {
  from {
    transform: translateX(300px) scale(0.9);
  }
  to {
    transform: translateX(-300px) scale(1.1);
  }
}
@keyframes animationMoon {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pulseMoon {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

/* MEDIA QUERIES */
@media only screen and (min-width: 1279px) and (max-width: 1619px) {
}

@media only screen and (min-width: 960px) and (max-width: 1279px) {
}

/* Smartphones in landscape mode */

@media only screen and (min-width: 600px) and (max-width: 959px) {
  .conteiner-section-1 .fondo-color {
    background-color: #1e3266;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: -150px;
  }

  .conteiner-section-1 .fondo-svg {
    margin-top: 100px;
    position: absolute;
    width: 150%;
    height: 100%;
    min-width: inherit;
  }
}

/* Smartphones in portrait mode  */

@media only screen and (max-width: 599px) {
  .conteiner-section-1 .center div h1 {
    font-size: 36px;
  }
  
  .conteiner-section-1 .center div h5 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
  }
}
