.conteiner-section-2 {
  /* background-color: red; */
  height: 130vh;
  display: flex;
  justify-content: center;
}

.conteiner-section-2 .center {
  /* background-color: aqua; */
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  margin-bottom: 200px;
  margin-left: 40px;
  margin-right: 40px;
}

.conteiner-section-2 .center .left {
  width: 50%;
  padding-right: 80px;
  color: var(--text);
  transform: translateX(-500px);
  opacity: 0;
  animation: animationfadeIn 1s ease-in-out forwards;
}

.conteiner-section-2 .center .left h1 {
  margin-bottom: 60px;
}

.conteiner-section-2 .center .rigth {
  width: 50%;
  padding-left: 80px;
  padding-top: 120px;
}

@keyframes animationfadeIn {
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* MEDIA QUERIES */
@media only screen and (min-width: 1279px) and (max-width: 1619px) {
}

@media only screen and (min-width: 1279px) and (max-width: 1500px) {
}
@media only screen and (min-width: 959px) and (max-width: 1279px) {
  .conteiner-section-2 .center .left h1 {
    font-size: 28px;
  }
}
/* Smartphones in landscape mode */

@media only screen and (min-width: 600px) and (max-width: 959px) {
  .conteiner-section-2 .center {
    /* background-color: aqua; */
    flex-direction: column;
    justify-content: center;
  }
  .conteiner-section-2 .center .left {
    /* background-color: red; */

    padding-right: inherit;
    text-align: center;
  }
  .conteiner-section-2 .center .rigth {
    width: 50%;
    padding-left: inherit;
    padding-top: 120px;
    /* background-color: green; */
  }
}

/* Smartphones in portrait mode  */

@media only screen and (max-width: 599px) {
  .conteiner-section-2 .center {
    /* background-color: aqua; */
    flex-direction: column;
    justify-content: center;
    margin-bottom: inherit;
  }
  .conteiner-section-2 .center .left {
    /* background-color: red; */
    width: 100%;
    padding-right: inherit;
    text-align: center;
  }
  .conteiner-section-2 .center .rigth {
    width: 100%;
    padding-left: inherit;
    padding-top: 120px;
    /* background-color: green; */
  }
  .conteiner-section-2 {
    /* background-color: red; */
    height: inherit;
    min-height: 100vh;
    /* margin-top: -100px; */
  }
}
