.cont-detalles {
  background-color: white;
  width: 98%;
  max-width: 400px;
  border-radius: 15px;
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
}

.cont-detalles h1 {
  color: var(--text);
  font-size: 28px;
  text-align: center;
}

.cont-detalles .imagen {
  position: absolute;
  top: -70px;
  width: 140px;
  height: 140px;
  left: 130px;
  box-shadow: 1px 10px 40px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
