@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@600&display=swap");

:root {
  --text: #3c4858;
  --blue: #356cb1;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
h1,
h5 {
  font-family: "Roboto Slab";
  margin: 0;
}

p {
  font-family: "Roboto";
  margin: 0;
}

.app {
  position: relative;
}
